.wrapper {
  background-color: #020202;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.container {
  padding: 3px;
  border: 1px solid #020202;
  /* width:700px; */
}

.img1.pulse h2 {
  font-family: 'Courier New', Courier, monospace;
}

.marquee {
  display: flex;
  gap: 10px;
  position: relative;
  float: right;
  width: 800px;
  height: auto;
  min-height: 80px;
  animation: scroll 30s linear infinite;
  padding: 3px;
  /* flex: 1; */
}
.marquee1 {
  display: flex;
  gap: 10px;
  position: relative;
  float: right;
  width: 800px;
  height: auto;
  min-height: 80px;
  animation: scroll1 30s linear infinite;
  padding: 3px;
  /* flex: 1; */
}

.marquee:hover {
  animation-play-state: paused
}
.marquee1:hover {
  animation-play-state: paused
}

.img1 {
  min-width: 300px;
  max-width: 300px;
  min-height: 250px;
  /* height: auto; */
  height: min-content;
  border: 1px solid #f6f6f6;
  margin: 3px;
  /* flex-grow: 1; */
  padding: 10px;
  /* display: flex; */
  /* flex-direction: column; */
  gap: 5px;
  /* float: left; */
}

.img1:hover {
  background-color: #f6f6f6;
}

.img1 div {
  color: #f6f6f6;
  font-family: 'Roboto Mono', monospace;
  flex-grow: 1;
}

.img1:hover div {
  color: black;
}
.image-style{
height: '50px';
width: "50px";
border-radius: 50%;
object-fit: cover;

}
.displayflex{
  display: flex;
  gap: 10px;
}
/* Make it move */
@keyframes scroll {
  0% {
    left: 800px;
  }

  100% {
    left: -800px;
  }
}
@keyframes scroll1 {
  0% {
    right: 800px;
  }

  100% {
    right: -800px;
  }
}

.pulse {
  animation: pulsating 2s infinite;
  /* IE 10+, Fx 29+ */
}

@keyframes pulsating {
  0% {
    border: 1px solid white;
  }

  50% {
    border: 1px solid gray;
  }

  100% {
    border: 1px solid white;
  }
}